
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Emulating real sheets of paper in web documents (using HTML and CSS)">
  <title>Protocoll Hemovent</title>
  <link rel="stylesheet" type="text/css" href="protocol.component.scss">
</head>
<button class="printButton" id="printButton" mat-fab color="grey" aria-label="Example icon button with a delete icon" onClick="window.print();">
	<mat-icon>print</mat-icon>
</button>
<body class="document">
<div class="page" contenteditable="false">
  <div class="logo">
    <img src="../../assets/logo_mobile.svg" alt="Hemovent"> <!Insert the Hemovent logo>
  </div>
	<br>
	<br>
	<br>
	<h2 class="Header1">Produktionsdokumentation:</h2>
	<br>
	<p>MOBY-x</p>
	<p>Pumpe: x</p>
	<p>GE: x</p>
	<p>Verwendeter Controller: x</p>
	<p>Schlagfrequenz vor Burn-In xbpm</p>
	<p>Startdatum / -Zeit Burn In Datum: x Uhrzeit: x</p>
	<p>Schlagfrequenz nach Burn-In: xbpm</p>
	<br>
	<p>Abweichung der Schlagfrequenz (Vor Burn-In -> Nach Burn-In)</p>
	<p>Symmetrie der Pumpe nach Burn-In: x/x%</p>
	<p>Probe für LAL Test entnommen und an QA übergeben: x</p>
	<p>Enddatum / -Zeit Burn In Datum: x Uhrzeit: x</p>
	<br>
	<h2 class="Header1">Bei Austausch von Komponenten sind die Prüfungen erneut durchzuführen und auf der entsprechenden Seite zu dokumentieren.</h2>


</div>
<div class="page" contenteditable="false">
	<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna
		aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi
		consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est
		laborum.</p>
	<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
		feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
		delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
		commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
		illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
		luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
	<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
		possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
		ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
		ullamcorper suscipit lobortis nisl ut aliquip ex commodo consequat.</p>
</div>
</body>


