<mat-toolbar color="primary">
  <span class="rowHeader">Interface</span>
  <section>
    <div class="button-row">
      <button class="buttons" mat-flat-button color="primary" routerLink="/home" routerLinkActive="active">Burn-In</button>
      <button class="buttons" mat-flat-button color="primary" routerLink="/protocol" routerLinkActive="active">Protocols</button>
      <span class="space"></span>
      <span class="remTime">Remaining time: XX:XX:XX</span>
    </div>
  </section>
</mat-toolbar>

<router-outlet></router-outlet>
