@media print {
  .taskbar{
    display: none;
  }
}

.rowHeader{
  font-size: larger;
}

.buttonsTaskbar{
  font-size: 20px;
  color: grey;
  margin-right: 5px;
}

.remTime{
  font-size: 20px;
  float: right;
  margin-right: 5px;
  color: grey;
}

.timer{
  font-size: 20px;
  color: grey;
}

.example-spacer {
  flex: 1 1 auto;
}

.spacerLogo{
  margin-right: 10px;
}
