<p>
  <mat-toolbar class="taskbar" color="">
    <body class="logo">
      <img src="assets/logo.svg" alt="Hemovent" height="40%"> <!Insert the Hemovent logo>
    </body>
    <button class="buttonsTaskbar" mat-flat-button color="100" routerLink="/home" routerLinkActive="active">Burn-In</button>
    <button class="buttonsTaskbar" mat-flat-button color="white" routerLink="/protocol" routerLinkActive="active">Protocols</button>
    <span class="example-spacer"></span>
    <span class="remTime">Remaining time:</span>
    <span id="time" class="timer">{{ time | async }}</span>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
