<p>
  <mat-toolbar color="primary">
    <span>My App</span>
    <button class="buttons" mat-flat-button color="primary" routerLink="/home" routerLinkActive="active">Burn-In</button>
    <button class="buttons" mat-flat-button color="primary" routerLink="/protocol" routerLinkActive="active">Protocols</button>
    <span class="example-spacer"></span>
    <span class="remTime">Remaining time:</span>
    <span id="time" class="timer">{{ time | async }}</span>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
