.startbutton {
  margin-right: 5px;
}

.example-form {
  min-width: 200px;
  max-width: 300px;
  width: 50%;
}

.button-list{
  float: right;
  display: grid;
  margin: 5px;
  row-gap: 5px;
}

.auto-buttons{
  display: grid;
  row-gap: 5px;
}

.ventilbuttons{
  display: none;
  //display: grid;
  row-gap: 5px;
}

.autohand{
}

.startbutton{
}

.stopbutton{
}

.plug-in{
}

.example-form{
  display: none;
}
