.startbutton {
  margin-right: 5px;
}

.example-form {
  min-width: 200px;
  max-width: 300px;
  width: 50%;
}

.button-list{
  float: right;
  display: grid;
  margin: 5px;
  row-gap: 5px;
}

.basic-buttons{
  display: grid;
  row-gap: 5px;
}

.ventilbuttons{
  display: none;
  //display: grid;
  row-gap: 5px;
}

.example-form{
  display: none;
}

body{
  background: grey;
}

.spacer1{
  margin-right: 5px;
}

.list1{
  display: grid;
}

.ventilgrid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.ventil{
  width: 15%;
}
