.startbutton {
  margin-right: 5px;
}

.example-form {
  min-width: 200px;
  max-width: 300px;
  width: 50%;
}

.plug-in{
  float: right;
}

.autohand{
  float: right;
}

.startbutton{
  float: right;
}

.stopbutton{
  float: right;
}

.ventilbuttons{
  display: none;
}
