<body>
  <br>
  <div class="button-list">
    <div class="auto-buttons">
      <button class="autohand" mat-flat-button>Auto/Hand Burn-In</button>
      <button class="plug-in" mat-flat-button>Plug Burn-In</button>
      <div>
        <button class="startbutton" (click)="startTimer()" mat-flat-button>Start Burn-In</button>
        <button class="stopbutton" mat-flat-button>Stop Burn-In</button>
      </div>
    </div>
    <div class="ventilbuttons">
      <button mat-flat-button color="accent">Ventil 1</button>
      <button mat-flat-button color="accent">Ventil 2</button>
      <button mat-flat-button color="accent">Ventil 3</button>
      <button mat-flat-button color="accent">Ventil 4</button>
      <button mat-flat-button color="accent">Ventil 5</button>
      <button mat-flat-button color="accent">Ventil 6</button>
      <button mat-flat-button color="accent">Ventil 7</button>
      <button mat-flat-button color="accent">Ventil 8</button>
    </div>
  </div>

  <div>home works!</div>

  <form class="example-form">
      <h3 class="hbemerkung">Bemerkung:</h3>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </form>
</body>
