<body>
  <br>
  <div class="button-list">
    <div class="auto-buttons">
      <button class="autohand" mat-flat-button color="warn">Auto/Hand Burn-In</button>
      <button class="plug-in" mat-flat-button color="warn">Plug Burn-In</button>
      <div>
        <button class="startbutton" (click)="startTimer()" mat-flat-button color="warn">Start Burn-In</button>
        <button class="stopbutton" mat-flat-button color="warn">Stop Burn-In</button>
      </div>
    </div>
    <div class="ventilbuttons">
      <button mat-flat-button color="warn">Ventil 1</button>
      <button mat-flat-button color="warn">Ventil 2</button>
      <button mat-flat-button color="warn">Ventil 3</button>
      <button mat-flat-button color="warn">Ventil 4</button>
      <button mat-flat-button color="warn">Ventil 5</button>
      <button mat-flat-button color="warn">Ventil 6</button>
      <button mat-flat-button color="warn">Ventil 7</button>
      <button mat-flat-button color="warn">Ventil 8</button>
    </div>
  </div>

  <h1 class="list1">Moby:</h1>
  <div class="list1">Name:</div>

  <form class="example-form">
      <h3 class="hbemerkung">Bemerkung:</h3>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </form>
</body>
